//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

$prefix: productly- !default;
$baseFontSize: 1rem;
$baseFontFamily: "Montserrat", sans-serif;

$mediumFontWeight: 500;
$mobilePadding: (12px / $baseFontSize) * 1rem;
$desktopPadding: 1rem;

// Paths

$i: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #2f281e;
$white: #ffffff;
$blueGray: #bcd0e5;
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #ff4e4a !default;
$orange: #f90 !default;

$colors: (
  "black": $black,
  "white": $white,
  "blueGray": $blueGray,
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
) !default;
