.footer {
  margin-bottom: rem(40px);
}
.footer__box {
  text-align: center;
  &_logo img {
    background: white;
    padding: rem(5px);
    border-radius: 10px;
  }
}

.footer__h4 {
  margin-bottom: rem(30px);
  font-size: rem(20px);
  font-weight: 700;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__li {
  padding: 0.5rem 0;
  font-weight: 500;
  color: #7a6a53;
}

.footer__input {
  width: 100%;
  max-width: 340px;
  height: 50px;
  padding: 0 rem(10px);
  border: 1px solid $blueGray;
  border-radius: 4px;
  margin-bottom: rem(25px);
  font-weight: 400;
  color: $blueGray;
  font-size: 25px;
}

.footer__button {
  padding: rem(13px) rem(40px);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

#popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 600px;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: $orange; /* Green for success */
  color: white;
  padding: 10% 10px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
