.main-top__h2 {
  padding: 2rem 0;
}

.main-top__flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-top__item {
  flex-basis: 49%;
}

//--------------------------------------
.main-bottom__container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.main-bottom__img-container {
  max-width: none;
  margin: 0;
  flex-basis: 49%;
}

.main-bottom__text {
  flex-basis: 49%;
}

.main-bottom__container:nth-child(2) .main-bottom__text {
  order: 1;
}
